    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download</h2>
                    <a href="https://hub.docker.com/r/mitchellgerrard/acf/" class="btn btn-default btn-lg">Docker Image</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="artifacts/cfc.pdf" class="btn btn-default btn-lg">Paper</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="artifacts/analysis_logs.zip" class="btn btn-default btn-lg">Benchmarks</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://gitlab.com/acf-framework/ase-prototype" class="btn btn-default btn-lg">Gitlab Repo</a>
                </div>
            </div>
        </div>
    </section>